@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["Email"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div>
    <h1>Dashboard</h1>
    <h3>UserName : @Session["UserName"]</h3>
    <h3>Email : @Session["Email"]</h3>
    <a href="@Url.Action("LogOut","Login")"> LogOut</a>
</div>

<div id="buttonsWrapper">
    <h1>VoiceNote</h1><br/><br/>

    <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
    <br/>

    

    <div class="infoBox">
        <b>Nuget packages which used in this solution</b><br/>
        Microsoft.PowerBI.API Version 2.0.3<br />
        Microsoft.PowerBI.JavaScript Version 2.3.1<br />
    </div>
</div>