@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["Email"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}



<div id="buttonsWrapper">
    <h1>VoiceNote</h1><br/><br/>
    <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
    <br/>
</div>